version: "3.9"

services:
  nginx:
    container_name: ca-l9-nginx
    image: nginx:1.23.1
    working_dir: /var/www
    volumes:
      - ./src:/var/www
      - ./docker/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 80:80
    depends_on:
      - php

  php:
    container_name: ca-l9-php
    # image: php:8.1.1-fpm-alpine3.15
    build: ./docker/php/
    working_dir: /var/www
    env_file:
      - ./docker/mysql/.env
    volumes:
      - ./src:/var/www
    # tty: true
    depends_on:
      - mariadb

  mariadb:
    container_name: ca-l9-mariadb
    image: mariadb:10.9
    env_file:
        - ./docker/mysql/.env
    volumes:
        - ./docker/mysql/data/mariadb:/var/lib/mysql
    ports:
        - 3307:3306